@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 ja-smaller">Welcome</h1>
    <h3 class="display-4 ja-smaller">To</h3>
    <h2 class="display-4 ja-smaller">Swift Rentals</h2>
    <div class="row">
        <div class="col-md-12">
            <img src="~/img/the-new-roadster.jpg" alt="The new Tesla Roadster"/>
        </div>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
